<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movielog.mappers.member">

	<insert id="register">
		INSERT INTO member( userid, userpw, username,
		useremail, userid_yn, username_yn)
		VALUES( #{userid},
		#{userpw},#{username},#{useremail}, #{userid_yn},#{username_yn})
	</insert>

	<select id="idCnt" parameterType="MemberVO"
		resultType="java.lang.Integer">
	<![CDATA[
	select
		count(*)
	from
		member
	where
		userid = #{userid}
	]]>
	</select>

	<select id="login" resultType="MemberVO">
		select * from member
		where userid=
		#{userid}
	</select>

	<update id="keepLogin">
		UPDATE member
		SET sessionkey = #{sessionid},
		sessionlimit = #{sessionlimit}
		WHERE userid=#{userid}
	</update>

	<select id="check" resultType="MemberVO">
		SELECT
		*
		FROM member
		WHERE
		sessionkey= #{value}
	</select>

	<insert id="createAuthKey">
		insert into MEMBER_AUTH values(#{useremail},
		#{authKey})
	</insert>

	<update id="memberAuth">
	<![CDATA[update member set MEMBER_AUTH = 1 where (select count(*) from MEMBER_AUTH where useremail = #{useremail}) > 0]]>
	</update>

	<select id="findId" resultType="MemberVO">
		select * from member where
		useremail = #{useremail}
	</select>

	<select id="findIdCheck" resultType="int">
		select count(*) from member
		where useremail = #{useremail}
	</select>

	<update id="findPw">
		update member set userpw = #{userpw} where useremail
		= #{useremail} and
		userid = #{userid}
	</update>

	<select id="findPwCheck" resultType="int">
		select count(*) from member
		where useremail = #{useremail} and userid = #{userid}
	</select>

	<update id="infoUpdate">
		update member
		set username = #{username}, useremail = #{useremail}
		where userid = #{userid}
	</update>

	<select id="nameCheck" parameterType="MemberVO" resultType="int">
		select count(*) from MEMBER where username = #{username}
	</select>

	<select id="pwCheck" resultType="String">
		select userpw from member where
		userid = #{userid}
	</select>

	<update id="pwUpdate">
		update member set userpw = #{userpw} where userid =
		#{userid}
	</update>

	<delete id="delete">
		delete from member WHERE userid = #{userid}
	</delete>

	<update id="updateImg">
		update member set userimg = #{userimg} where userid = #{userid}
	</update>

</mapper>